/*    color and font themes     */
:root {
  /* color theme  */
  --primary-color: #1e3d58;
  --secondary-color: #375a62;
  --tertiary-color: #e0ece4;
  --quaternary-color: #e2eef2;
  --primary-bg-color: #edf3f3;
  --secondary-bg-color: #dbe1e8;
  --tertiary-bg-color: #e0ece4;
  --quaternary-bg-color: #9ac6c5;
  /* font theme */
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Roboto Slab", serif;
  --tertiary-font: "Montserrat", sans-serif;
}

/*    Global     */

h1 {
  font-size: 60px;
  color: var(--primary-color);
}

h2 {
  font-size: 25px;
  color: var(--secondary-color);
}

p {
  font-family: "Merriweather", serif;
  color: var(--primary-color);
  font-size: 30px;
}

a {
  text-decoration: none;
}

/* Utility Classes  */
.center-text {
  text-align: center;
}

.side-padding {
  padding-left: 10%;
  padding-right: 10%;
}

.padding-bottom {
  padding-bottom: 10px;
}

/* Buttons */
button.ui.button {
  border: var(--primary-color) solid 1.25px;
  background-color: var(--primary-bg-color);
}

button.ui.button:hover {
  border: var(--primary-color) solid 1.25px;
  background-color: var(--secondary-bg-color);
}

.btnGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signature {
  font-family: cursive;
}

.secondaryColor {
  background-color: var(--secondary-bg-color) !important;
}

/*    Pages    */

/* Top Hero Display */

.card-img {
  object-fit: cover;
  height: 53vh;
  filter: brightness(50%);
  object-position: center 43%;
}

.heroOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-size: 25px;
  color: var(--tertiary-color);
  padding: 5px 33% 5px 0%;
}

.secondContainer {
  background-color: var(--secondary-bg-color);
}

.colRight {
  padding-left: 0;
}

/* Misc Styles  */

.curved-underline {
  position: relative;
  color: var(--quaternary-color);
}

.curve {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100%;
  background-color: var(--quaternary-bg-color);
  border-radius: 0 0 80% 80% / 0 0 100% 100%;
}

/*       Components        */
/* Header  */
.bg-my-color {
  background-color: var(--primary-bg-color);
}

/* Home Hero Section */

.myHomeHero .card-img {
  object-fit: cover;
  height: 60vh;
  filter: brightness(50%);
}

.heroTitle.card-title {
  font-size: 55px;
  color: var(--tertiary-color);
}

.homeImage {
  border-left: white 3px solid;
}

/*    HeroBanner    */

.ui.horizontal.segments.heroSegment {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.ui.horizontal.segments.heroSegment.secondaryColor {
  background-color: var(--secondary-bg-color);
}

/* ReviewSlider */

.reviewTitle {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 14px;
}

.reviewHolder {
  padding: 4px 30px 30px 30px;
  text-align: center;
}

.reviewName {
  color: var(--primary-color);
  padding-bottom: 6px;
}

.reviewCity {
  color: var(--primary-color);
}

/* ServiceBanner */

.bannerContainer {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.bannerContainer .myH2 {
  padding: 10px 5% 15px 5%;
}

.cardPhoto {
  filter: brightness(0.6);
}

.backCardPhoto {
  filter: brightness(0.4);
}

.serviceTitle.card-title {
  font-size: 40px;
  color: var(--tertiary-color);
  text-align: left;
}

#serviceLinkHoldr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--tertiary-color);
}

#serviceLinkHoldr a {
  font-size: 25px;
  color: var(--tertiary-color);
  text-decoration: none;
}

#serviceLinkHoldr a:hover {
  font-size: 25px;
  color: var(--tertiary-color);
  text-decoration: underline;
}

/* 
Map  */

.myMapPackage {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  padding: 20px;
}

.colText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.colMap {
  padding-top: 10px;
}

#directButton {
  margin-bottom: 10px;
}

.address {
  text-decoration: underline;
}

/* Promotions  */

.myPromotions {
  background-color: var(--primary-bg-color);
}

/* Footer  */

.myFooter {
  background-color: var(--primary-bg-color);
  padding: 20px;
}

.footerApptBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.threeBtnGroup {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.threeBtnGroup > .ui.button {
  margin-right: 10px;
}

.myFooter h3 {
  text-decoration: underline;
}

.myFooter a {
  text-decoration: none;
  color: var(--primary-color);
}

.copyright {
  text-align: center;
  padding: 20px 0px 10px 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*                     Pages               */

/* About */

.myFellow .myH1 {
  text-align: center;
  padding-bottom: 20px;
}

.next {
  color: var(--quaternary-color);
}

.bold {
  color: whitesmoke;
}

.myFellow {
  background-color: var(--secondary-bg-color);
  padding: 25px;
}

.quoteCard {
  background-color: var(--secondary-bg-color);
}

.myAboutMeet {
  background-color: var(--primary-bg-color);
  padding: 25px 5% 25px 5%;
}

.bottom-padding {
  padding-bottom: 15px;
}

.myLogos {
  padding: 100px 25px 100px 25px;

  background-color: var(--secondary-bg-color);
}

.logoImage {
  width: 100%;
  height: auto;
  max-height: 100px; /* adjust this value to change the size of the images */
  object-fit: contain;
  padding: 10px;
}

.logoGroup {
  display: flex;
  justify-content: center; /* Horizontally center images */
  align-items: center; /* Vertically center images */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.myAboutCv {
  background-color: var(--primary-bg-color);
  padding: 25px;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.imageContain {
  background-color: whitesmoke !important;
}

.secondaryImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.myStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--tertiary-bg-color);
  padding: 20px;
}

.statGroup {
  display: flex;
  justify-content: center;
  height: 100%;
}

.myAboutMore {
  background-color: var(--primary-bg-color);
  padding: 25px 5% 25px 5%;
}

.personalText {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.myDYK {
  padding: 50px 5% 50px 5%;
  background-color: var(--secondary-bg-color);
}

.pull-quote {
  font-family: "Roboto", sans-serif;
  font-style: italic;

  font-size: 1.5em;
  line-height: 1.4;
  margin: 1.5em 0;
  position: relative;
  text-align: center;
}

.quote-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.quote-text {
  margin-bottom: 20px;
}

.logoQuote {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
}

.attribution {
  display: flex;
  flex-direction: row;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary-bg-color);
}

/* Financing */

.myFinancingInfo {
  background-color: var(--primary-bg-color);
  padding: 25px 5% 25px 5%;
}

.promo {
  background-color: var(--quaternary-bg-color);
  color: var(--primary-color);
  padding: 20px 0;
}

/* Media Query  */
@media (max-width: 767px) {
  .homeImage {
    border-top: white 3px solid;
  }

  .experience {
    padding-top: 20px;
  }

  .myStats {
    margin-top: 10px;
  }

  .myMapPackage .myH2 {
    padding-bottom: 10px;
  }

  .threeBtnGroup {
    display: flex;
    flex-direction: column;
  }

  .threeBtnGroup > .ui.button {
    margin-bottom: 10px;
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;
  }

  #apptBtn {
    margin-bottom: 10px;
  }

  .heroTitle.card-title {
    font-size: 40px;
  }

  .card-text {
    font-size: 20px;
  }
}
