/* color and font themes  */
:root {
  /* color theme  */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tertiary-color: #28a745;
  /* background theme  */
  --primary-bg-color: #aa7171;
  --secondary-bg-color: #7aad8d;
  --tertiary-bg-color: #7f7993;
  /* font theme  */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --tertiary-font: 'Lato', sans-serif;
}


p {
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  color: var(--primary-color);

}

.bg-my-color {
  background-color: var(--primary-bg-color);
}